
<dom-module id="app-element">

  <template>



  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">

        <span class="mdl-layout-title">Title</span>

        <div class="mdl-layout-spacer"></div>


        <ul class="nav nav-list pull-right cc-nav-menu">
          <!--
          <li class="dropdown cc-theme">
            <a class="dropdown-toggle  waves-attach" data-toggle="dropdown" aria-expanded="false">

              <i class="mdi mdi-auto-fix"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li>
                <a class="padding-right-lg waves-attach waves-effect" href="javascript:void(0)"><span class="material-icons margin-right">perm_identity</span>Profile Settings</a>
              </li>
              <li>
                <a class="padding-right-lg waves-attach waves-effect" href="javascript:void(0)"><span class="icon icon-lg margin-right">add_to_photos</span>Upload Photo</a>
              </li>
              <li>
                <a class="padding-right-lg waves-attach waves-effect" href="javascript:void(0)"><span class="icon icon-lg margin-right">exit_to_app</span>Logout</a>
              </li>
            </ul>
          </li>

          <li class="dropdown cc-theme">
            <a class="dropdown-toggle  waves-attach" data-toggle="dropdown" aria-expanded="false">

              <i class="mdi mdi-settings"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li>
                <a class="padding-right-lg waves-attach waves-effect" href="javascript:void(0)"><span class="material-icons margin-right">perm_identity</span>Profile Settings</a>
              </li>
              <li>
                <a class="padding-right-lg waves-attach waves-effect" href="javascript:void(0)"><span class="icon icon-lg margin-right">add_to_photos</span>Upload Photo</a>
              </li>
              <li>
                <a class="padding-right-lg waves-attach waves-effect" href="javascript:void(0)"><span class="icon icon-lg margin-right">exit_to_app</span>Logout</a>
              </li>
            </ul>
          </li>
          -->

          <li class="dropdown cc-theme">
            <a class="dropdown-toggle waves-attach" data-toggle="dropdown" aria-expanded="false">
              <i class="mdi mdi-dots-vertical"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li>
                <a class="padding-right-lg waves-attach waves-effect" href="javascript:void(0)"><span class="icon icon-lg margin-right">account_box</span>Profile</a>
              </li>
              <li>
                <a class="padding-right-lg waves-attach waves-effect" href="javascript:void(0)"><span class="icon icon-lg margin-right">add_to_photos</span>Upload Photo</a>
              </li>
              <li>
                <a class="padding-right-lg waves-attach waves-effect" href="javascript:void(0)" on-tap="_onLogoutTap">
                    <span class="icon icon-lg margin-right">exit_to_app</span>Logout</a>
              </li>
            </ul>
          </li>

        </ul>

        <div class="right-filter-icon" id="notif"><i class="mdi mdi-filter-outline"></i></div>

      </div>
    </header>

    <div class="mdl-layout__drawer">
      <div class="morph-heading-wrapper">
        <div class="morph-heading-inner">

          <div class="morph-heading-text">
          </div>

          <div class="morph-subheading-text">
          </div>

        </div>
        <div class="morph-heading-overlay"></div>
        <div class="cc-drawer-bg"></div>
      </div>

      <div class="cc-nav-wrapper">


        <main class="sidebar-menud">


          <ul class="sidebar-menu">
            <li class="active-menu waves-attach"><a href="javascript:void(0)" on-tap="_handleDashboardClick" ><i class="material-icons">perm_data_setting</i>Dashboard</a></li>
            
            <!-- Work board starts hare -->
            <li class="has-submenu">
              <a class="deploy-submenu waves-attach" href="#" ><i class="material-icons">dashboard</i>Workboards</i>
        												</a>
              <ul class="submenu" style="display:block">

                <template is="dom-repeat" items="{{data}}" as="dbNames">
                <li class="has-submenu"><a href="javascript:void(0)" class="deploy-submenu-2 waves-attach" data-id="{{dbNames.workboardId}}">{{dbNames.name}}</a>
                    
                  <ul class="submenu-2" style="display:block">
                      <template is="dom-repeat" items="{{dbNames.value}}" as="value">
                    <li><a class=" waves-attach" id="{{value.dashboardId}}" on-tap="_onSubItemsTapped">{{value.name}}</a></li>

                      </template>
                  </ul>
                    
                </li>
                </template>

                <li><a href="javascript:void(0)" class=" waves-attach">Others</a></li>
              </ul>
            </li>
            <!-- Workboard ends hare -->
            
            <!--
            <li class="has-submenu">
              <a class="deploy-submenu waves-attach" href="javascript:void(0)"><i class="material-icons">perm_contact_calendar</i>Calender</a>
              <ul class="submenu">
                <li><a href="javascript:void(0)" class=" waves-attach">Adaptive</a></li>
                <li><a href="javascript:void(0)" class=" waves-attach">One Column</a></li>
                <li><a href="javascript:void(0)" class=" waves-attach">Two Columns</a></li>
              </ul>
            </li>
            -->
            <!--
            <li class="has-submenu">
              <a class="deploy-submenu waves-attach" href="javascript:void(0)"><i class="material-icons">graphic_eq</i>Charts & Graphs</a>
              <ul class="submenu">
                <li><a href="javascript:void(0)" class=" waves-attach">Bar Charts</a></li>
                <li><a href="javascript:void(0)" class=" waves-attach">Pie Charts</a></li>
                <li><a href="javascript:void(0)" class=" waves-attach">Line Charts</a></li>

              </ul>
            </li>
            -->
          </ul>
          <!-- put your content here -->

        </main>
        <!-- cd-main-content -->
      </div>
    </div>

    <!-- RIGHT DRAWER-->
    <div class="mdl-layout__drawer-right">

      <div class="morph-heading-wrapper-rhs">
        <div class="morph-heading-inner">
          <div class="morph-heading-text"></div>
          <div class="morph-subheading-text"></div>
        </div>
        <div class="morph-heading-overlay-rhs"></div>
        <div class="cc-drawer-bg-rhs"></div>
      </div>

      <div class="wrapper-rhs">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis praesentium, 
          dicta architecto dignissimos illum totam nobis minima dolorem, sit at. Libero, 
          ducimus. Quia, reprehenderit, doloribus? Explicabo veniam nulla, odio sit.
        </p>
      </div>

    </div>
    <!-- RIGHT DRAWER FINISH -->


    <section id="profile" style="display:none">
        
         <main class="mdl-layout__content" >
      <div class="page-content">
        <div class="card-wrap">
          <div class="container">
            <div class="row">
              <div class="col-lg-4 col-sm-4 col-xs-12">
                <div class="card">
                  <div class="card-main">


                    <div class="card-inner profile-widget text-center">
                      <p class="text-center">
                        <span class="avatar avatar-inline avatar-lg">
                            <img alt="Login" src="images/avatar.jpg">
                        </span>
                        <h4>Tarun Kumar</h4>
                      </p>

                      <p>
                        "An organization's ability to learn, and translate that learning 
                        into action rapidly, is the ultimate competitive advantage."
                      </p>
                      <div class="social-widget profile">
                        <a href="#">
                          <i class="mdi mdi-twitter"></i>
                        </a>
                        <a href="#">
                          <i class="mdi mdi-facebook"></i>
                        </a>
                        <a href="#">
                          <i class="mdi mdi-linkedin"></i>
                        </a>
                        <a href="#">
                          <i class="mdi mdi-git"></i>
                        </a>
                      </div>
                    </div>
                    <div class="card-action footer-widget">
                      <div class="row">
                        <div class="col-xs-4">
                          <div class="widget-values">
                            <h4>10GB</h4>
                            <span class="caption">Space Left</span>
                          </div>
                        </div>
                        <div class="col-xs-4">
                          <div class="widget-values">
                            <h4>200</h4>
                            <span class="caption">Messages</span>
                          </div>
                        </div>
                        <div class="col-xs-4">
                          <div class="widget-values">
                            <h4>300</h4>
                            <span class="caption">Annotation</span>
                          </div>
                        </div>
                      </div>

                    </div>
                    <!-- card action -->
                  </div>
                  <!-- card main -->
                </div>
                <!-- card -->
              </div>
              <!-- col- -->

              <div class="col-lg-8 col-sm-8 col-xs-12">
                <div class="card">
                  <div class="card-main">

                    <div class="card-header has-bg">

                      <div class="card-inner">
                        <span class="card-heading">Personal Information</span>
                      </div>
                    </div>


                    <div class="card-inner">
                      <div class="row">
                        <div class="col-xs-8">
                          <label class="control-label" for="">Name</label>
                          <input type="text" class="form-control" placeholder="">
                        </div>
                        <div class="col-xs-4">
                          <label class="control-label" for="">Date of birth</label>
                          <input type="text" class="form-control" placeholder="">
                        </div>

                      </div>

                      <div class="row mt20">
                        <div class="col-xs-12">
                          <label class="control-label" for="">Upload Profile Image</label>
                          <input type="file" class="form-control" placeholder="">
                        </div>


                      </div>
                    </div>

                    <div class="card-header has-bg">

                      <div class="card-inner">
                        <span class="card-heading">Contact Information</span>
                      </div>
                    </div>


                    <div class="card-inner">
                      <div class="row">
                        <div class="col-sm-5 col-xs-12">
                          <label class="control-label" for="">Mobile</label>
                          <input type="text" class="form-control" placeholder="">
                        </div>
                        <div class="col-sm-7 col-xs-12">
                          <label class="control-label" for="">Email</label>
                          <input type="text" class="form-control" placeholder="">
                        </div>
                      </div>

                      <div class="row mt20">
                        <div class="col-sm-12 col-xs-12">
                          <label class="control-label" for="">Address</label>
                          <textarea name="name" class="form-control"></textarea>
                        </div>
                      </div>
                    </div>

                    <div class="card-header has-bg">

                      <div class="card-inner">
                        <span class="card-heading">Privacy Information</span>
                      </div>
                    </div>


                    <div class="card-inner">

                    
                      <div class="row">

                        <div class="col-sm-4 col-xs-12">
                          <label class="control-label" for="">Current Password</label>
                          <input type="password" class="form-control" placeholder="">
                        </div>
                        <div class="col-sm-4 col-xs-12">
                          <label class="control-label" for="">New Password</label>
                          <input type="password" class="form-control" placeholder="">
                        </div>
                        <div class="col-sm-4 col-xs-12">
                          <label class="control-label" for="">Confirm Password</label>
                          <input type="password" class="form-control" placeholder="">
                        </div>
                      </div>

                      <div class="row mt20">
                        <div class="col-sm-12 col-xs-12">
                          <label class="control-label" for="">Security Question ?</label>
                          <label for="" class="control-label is-block custom font-i-b">What is your dog name?</label>
                        </div>
                      </div>
                    </div>
                      
                    <div class="card-action text-center">
                      <div class="card-action-btn">
                        <a class="btn btn-brand waves-attach waves-light waves-effect" href="javascript:void(0)">Update</a>
                        <a class="btn waves-attach waves-light waves-effect" href="javascript:void(0)">Cancel</a>
                      </div>

                    </div>
                    <!-- card action -->
                  </div>
                  <!-- card main -->
                </div>
                <!-- card -->
              </div>
              <!-- col- -->


            </div>
          </div>
        </div>
      </div>
      <!-- page-content -->
    </main>
    </section>

    
   

    <div class="mdl-layout__obfuscator-right"></div>

  </div>

  
  <!--  Sections for diffrent display starts-->
  <section id="home" style="display:block">
      <h1>Home</h1>
  </section>
  
  <section id="dashboard" style="display:none">
      <h1>Dashboard</h1>
      <dashboard-demo></dashboard-demo>
  </section>    
  <!--  Sections for diffrent display ends-->
  
  <!--  Logout display starts-->
<paper-dialog style="display:none" id="logoutDialog" entry-animation="scale-up-animation" exit-animation="fade-out-animation" with-backdrop >
  <h2>Confirmation</h2>
      <p>Logout, are u sure ?</p>
      <div class="buttons">        
        <paper-button dialog-dismiss on-tap="_onDeclineTap">Decline</paper-button>
        <paper-button dialog-confirm autofocus on-tap="_onAcceptTap">Accept</paper-button>
      </div>
</paper-dialog>
    <!--  Logout display ends-->    
  
  </template>
<script type="text/javascript" src="js/jquery.js"></script>
<script src="js/material.js"></script>
<script src="js/base.js" charset="utf-8"></script>
<script src="js/project.js" charset="utf-8"></script>
<script src="js/main.js"></script>
<link rel="stylesheet" href="css/material.css">
<link rel="stylesheet" href="css/base.css">
<link rel="stylesheet" href="css/project.css">
<link rel="stylesheet" href="css/materialdesignicons.css">
<link rel="stylesheet" href="fonts/material-icons.css">
<link rel="stylesheet" href="css/styles.css">
<script src="../bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>

  <script>
    // element registration
    Polymer({
      is: "app-element",

      // add properties and methods on the element's prototype

      properties: {
        // declare properties for the element's public API

        },
    attached:function()
    {               var self=this;     
         $.ajax({
                url: "http://10.90.21.43:8888/repository-service/getRepository",                
                type: "POST",
                beforeSend: function(xhr){xhr.setRequestHeader('AccessToken',localStorage.getItem("accessToken"));},
                success: function(object)
                {                      
                    self.data=object.dashboards;                  
                }
            })
    },     
    _onLogoutTap:function(e){       
        window.$.logoutDialog.open();
        window.alert("LogoutTap");
    },
    _onDeclineTap:function(e){       
        window.$.logoutDialog.close();
        window.alert("DeclineTap");
    },
    _onAcceptTap:function(e){
        window.alert("AcceptTap");
        window.$.logoutDialog.close();
        var requestData = {
            "authToken":localStorage.getItem("accessToken")
        };
        $.ajax({
            url: "http://10.90.21.43:8888/logout-service/logout",                
            type: "POST",
            data: JSON.stringify(requestData),
            contentType: 'application/json; charset=utf-8',
            beforeSend: function(xhr){xhr.setRequestHeader('AccessToken',localStorage.getItem("accessToken"));},
            success: function(object)
            { 
                localStorage.setItem("accessToken",0);
                //self.appLogout();
                if(navigator.app){
                    navigator.app.exitApp();
                }else if(navigator.device){
                        navigator.device.exitApp();
                }

                window.location.href="index.html";

                console.log("Logout");
            },
            error: function(object)
            { 
                alert("Logout was unsuccessfull.");
                console.log(object);
            }

        });
        //alert("Logout ");
    },
        appLogout:function()
    {
        if(navigator.app){
            navigator.app.exitApp();
        }else if(navigator.device){
                navigator.device.exitApp();
        }
        
        window.location.href="index.html";
    },
    _onSubItemsTapped:function()
    {
        $('#home').css("display","none");
        $('#dashboard').css("display","block");
        document.getElementsByTagName('dashboard-demo')[0].createDashboard(event.target.getAttribute("id"));
        //console.log(document.getElementsByTagName('dashboard-demo'));
        //window.alert(event.target.getAttribute("id"));
    }
     
    });
  </script>

</dom-module>