<!-- Polymer Buildt-in Components -->
<link rel="import" href="../bower_components/polymer/polymer.html"/>
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html"/>
<link rel="import" href="../bower_components/neon-animation/neon-animations.html"/>
<link rel="import" href="../bower_components/paper-button/paper-button.html"/>

<!-- END -->

<!-- Polymer Custom Components -->
    <link rel="import" href="../elements/app-element.html"/>
    <link rel="import" href="../elements/dashboard-demo.html"/>
             
    <!--
    <link rel="import" href="../elements/repository-drawer.html"/>
    <link rel="import" href="../elements/home-element.html"/>
    <link rel="import" href="../elements/dashboard-element.html"/>
    <link rel="import" href="../elements/profile-element.html"/>
            <link rel="import" href="../elements/dashboard-demo.html"/>
    <link rel="import" href="../elements/chart-element.html"/>
             
<!-- END -->

<!-- External Style Sheets -->
  <link rel="stylesheet" href="../assets/carecloud_assets/css/material.css"/>
  <!-- Material Design icon font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
  <link rel="stylesheet" href="../css/base.css"/>
  <link rel="stylesheet" href="../css/project.css"/>
  <link rel="stylesheet" href="../css/materialdesignicons.css"/>
  <link rel="stylesheet" href="../css/styles.css"/>
<!-- END -->

<!-- External Libraries (JS) -->
  <script type="text/javascript" src="../assets/carecloud_assets/js/jquery.js"></script>
  <script src="../js/material.js"></script>
  <script src="../js/base.js" charset="utf-8"></script>
  <script src="../js/project.js" charset="utf-8"></script>
  <script src="../js/main.js"></script>
<!-- END -->












