
<!-- Polymer Built-in Components -->
    <link rel="import" href="../bower_components/iron-collapse/iron-collapse.html"/>
    <link rel="import" href="../bower_components/iron-dropdown/demo/x-select.html"/>
    <link rel="import" href="../bower_components/iron-dropdown/iron-dropdown.html"/>
    <link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html"/>
    <link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
    <link rel="import" href="../bower_components/iron-icon/image-icons.html"/>
    <link rel="import" href="../bower_components/iron-icon/iron-icon.html"/>
    <link rel="import" href="../bower_components/iron-icons/editor-icons.html"/>
    <link rel="import" href="../bower_components/iron-icons/image-icons.html"/>
    <link rel="import" href="../bower_components/iron-icons/iron-icons.html"/>
    <link rel="import" href="../bower_components/iron-pages/iron-pages.html"/>
    <link rel="import" href="../bower_components/neon-animation/demo/dropdown/animated-dropdown.html"/>
    <link rel="import" href="../bower_components/neon-animation/neon-animation.html"/>
    <link rel="import" href="../bower_components/neon-animation/neon-animated-pages.html"/>
    <link rel="import" href="../bower_components/neon-animation/neon-animated-pages.html"/>
    <link rel="import" href="../bower_components/paper-button/paper-button.html"/>
    <link rel="import" href="../bower_components/paper-card/paper-card.html"/>
    <link rel="import" href="../bower_components/paper-checkbox/paper-checkbox.html"/>
    <link rel="import" href="../bower_components/paper-dialog/paper-dialog.html"/>
    <link rel="import" href="../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html"/>
    <link rel="import" href="../bower_components/paper-drawer-panel/paper-drawer-panel.html"/>
    <link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html"/>
    <link rel="import" href="../bower_components/paper-fab/paper-fab.html"/>
    <link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html"/>
    <link rel="import" href="../bower_components/paper-item/paper-icon-item.html"/>
    <link rel="import" href="../bower_components/paper-item/paper-item.html"/>
    <link rel="import" href="../bower_components/paper-material/paper-material.html"/>
    <link rel="import" href="../bower_components/paper-menu/paper-menu.html"/>
    <link rel="import" href="../bower_components/paper-ripple/paper-ripple.html"/>
    <link rel="import" href="../bower_components/paper-scroll-header-panel/paper-scroll-header-panel.html"/>
    <link rel="import" href="../bower_components/paper-styles/paper-styles.html"/>
    <link rel="import" href="../bower_components/paper-swipe/paper-swipe.html"/>
    <link rel="import" href="../bower_components/paper-tabs/paper-tabs.html"/>
    <link rel="import" href="../bower_components/paper-toolbar/paper-toolbar.html"/>
    <link rel="import" href="../bower_components/polymer/polymer.html"/>




<!-- END -->

<!-- Custom Polymer Components -->
<!--
    <link rel="import" href="../elements/analysis-element.html"/>

    <link rel="import" href="../elements/dashboard-element.html"/> 
    <link rel="import" href="../elements/filter-element.html"/>
    <link rel="import" href="../elements/home-element.html"/>
    <link rel="import" href="../elements/kpi-element.html"/>
    <link rel="import" href="../elements/navigation-drawer.html"/>
    <link rel="import" href="../elements/overflow-element.html"/>
    <link rel="import" href="../elements/stories-element.html"/>
    <link rel="import" href="../elements/other-function-element.html"/>
    <link rel="import" href="../elements/myspace-element.html"/>
    -->
    <link rel="import" href="../app-element.html"/>
    <link rel="import"  href="../elements/dashboard-demo.html"/>
    <link rel="import"  href="../elements/createHighchart-element.html"/>
<!-- END -->


<!-- External CSS -->
<link rel="stylesheet" href="../styles/material-pink.css"/>
<link rel="stylesheet" href="../styles/material.min.css"/>
<link rel="stylesheet" href="../styles/rightdrawer.css"/>
<link rel="stylesheet" href="../bower_components/lightbox2/dist/css/lightbox.min.css"/>
<link rel='stylesheet' href='../styles/round-big-loader.css'/>
<link href="../css/round-big-loader.css" rel="stylesheet" type="text/css"/>

<!-- END -->

<!-- External JS Libraries -->
<script src="../bower_components/highcharts/highcharts.js"></script>
<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../bower_components/lightbox2/dist/js/lightbox.min.js"></script>
<script src="../scripts/getDashboardData.js" ></script>
<script src="../scripts/getKettleData.js" ></script>
<script src="../scripts/getVisualisationData.js" ></script>
<script src="../scripts/getWorkboardData.js" ></script>
<script src="../scripts/jquery.touchSwipe.min.js"></script>
<script src="../scripts/jsonfn.js"></script>
<script src="../scripts/material.min.js"></script>
<script src="../bower_components/jsonfn/jsonfn.js" type="text/javascript"></script>
<!-- END -->


<script src="../json/workboard.js" type="text/javascript"></script>
<script src="../json/visualisation.js" type="text/javascript"></script>
<script src="../json/kettle.js" type="text/javascript"></script>